<div class="dialog-modal">
    <div class="dialog-title" mat-dialog-title>
        <span *ngIf="mode != 'edition'">Add book</span>
        <span *ngIf="mode === 'edition'">Update book</span>
        <i class="fas fa-times" (click)="closeModal()" aria-hidden="true"></i>
    </div>

    <form class="dialog-form">
        <mat-dialog-content class="dialog-content">
            <div class="form-fields">
                <div class="form-field">
                    <label for="title">Title</label>
                    <input type="text"
                           name="title"
                           id="title"
                           placeholder="Title"
                           [(ngModel)]="book.title"
                           required>
                </div>

                <div class="form-field">
                    <label for="description">Description</label>
                    <input type="text"
                           name="description"
                           id="description"
                           placeholder="Description"
                           [(ngModel)]="book.description"
                           required>
                </div>

                <div class="form-field">
                    <label for="year">Year</label>
                    <input type="text"
                           name="year"
                           id="year"
                           placeholder="Year"
                           [(ngModel)]="book.year"
                           required>
                </div>
            </div>
        </mat-dialog-content>

        <!-- BUTTONS -->
        <mat-dialog-actions class="dialog-actions">
            <button mat-raised-button mat-dialog-close (click)="closeModal()">Cancel</button>
            <button mat-raised-button class="valid-button" (click)="validModal()">Validate</button>
        </mat-dialog-actions>
    </form>
</div>
