<div class="method-container">
    <p class="title">put(id: string, updatedObject: T, options?: RequestOptions): Observable< T | any ></p>
    <p>put() method is used to update a T object in database with a PUT http request and returns the updated object formatted with T type.</p>
    <p>put() method needs that your app respects the Genese standards :</p>
    <p>* The endpoint must wait a PUT method.</p>
    <p>* The api path must respect the REST api standards for a PUT method (example : http://my-path/book/id)</p>
    <p>In this example, the update() method removes a book with the help of the NestJS backend.</p>
    <p>Open your navigator console. In the tab "Network", you'll find the data received from PUT request.</p>


    <div class="dataList">
        <app-books-list [data]="data" (update)="openModal($event)"></app-books-list>
    </div>
</div>
